page-best-seller {
    .image-container {
        height: 200px;
        line-height: 200px;
    }
    .image-container img { 
        vertical-align: middle; 
    }
    .product-title {
        font-size: 16px;
        font-weight: bold;
        color: map-get($colors, primary);
        margin: 5px 0 0 0;
    }
    .product-subtitle {
        font-size: 12px;
        color: map-get($colors, dark);
        margin: 5px 0 0 0;
    }
    .product-border {
        border-style: solid;
        border-color: map-get($colors, grey);
    }
    .cart-text{
        font-size: 12px;
        font-weight: bold;
        color: map-get($colors, primary);
        margin: 5px 0 0 0;
        -webkit-transition: 100px 1s; 
        -moz-transition: 100px 1s; 
        -ms-transition: 100px 1s; 
        -o-transition: 100px 1s; 
        transition: 100px 1s;
    }
    .cart-highlight{
        font-size: 14px;
        font-weight: bold;
        color: map-get($colors, secondary);
        margin: 5px 0 0 0;
        -webkit-transition: 100px 1s; 
        -moz-transition: 100px 1s; 
        -ms-transition: 100px 1s; 
        -o-transition: 100px 1s; 
        transition: 100px 1s;
    }
    .cart-text.ng-enter {
        -webkit-animation: fadeInLeft 1s;
        animation: fadeInLeft 1s;
    }
}
