page-submit-absence {
  p {
    font-size: 0.8em !important;
    color: #ea6153 !important;
  }

  ion-label,
  .select-text {
    margin-left: 10px;
  }

  .invalid {
    border: 1px solid #ea6153;
  }

  ion-textarea {
    border: 1px solid grey;
  }
}
